docs/html/
output/
legolas
test_legolas

*.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.out
*.run
*.toc
*.gz
*.exe
*.mod
*.smod
*.o
*.xlsm
*.xlsx
*.ods
*.png
*.txt
*.dat
*.pyc
*.idea
*.F90
*.inc
*.a
*.egg*