docs/content/src-docs/ford
docs/content/src-docs/sphinx
output/
build/
legolas
test_legolas

*.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.log
*.lot
*.out
*.run
*.toc
*.gz
*.exe
*.mod
*.smod
*.o
*.xlsm
*.xlsx
*.ods
*.dat
*.pyc
*.idea
*.inc
*.a
*.egg*
!/tests/regression_tests/answers/*.dat
!/tests/regression_tests/answers/*.log
!/tests/pylbo_tests/utility_files/*.dat
!/tests/pylbo_tests/utility_files/*.log

